<!-- start page title section -->
<section class="big-section pb-5 wow animate__fadeIn cover-background background-position-top page-title-small top-space" style="background-image:url('<%= image_url('banners/banner-small.png') %>');">
    <div class="opacity-extra-medium bg-black"></div>
    <div class="container-fluid margin-four-lr sm-no-margin-lr">
        <div class="row align-items-center">
            <div class="col-12 col-md-12 position-relative alt-font breadcrumb justify-content-center justify-content-md-start text-large">
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
