<!-- start parallax hero section -->
<section class="wow animate__fadeIn p-0 overflow-visible parallax cover-background" data-parallax-background-ratio="0.5" style="background-image:url('<%= image_url('banners/banner-home.png') %>');">
    <div class="container-fluid padding-50px-lr one-fourth-screen sm-padding-15px-lr">
        <div class="row h-100">
            <div class="col-12 d-flex justify-content-center flex-column text-center text-md-start">
                <h2 class="alt-font line-height-40 text-white-2 font-weight-500"><span class="text-script">Bring</span> the</h2>
                <h2 class="alt-font line-height-40 text-white-2 font-weight-500">Outdoors <span class="text-script">Indoors</span></h2>
            </div>
        </div>
    </div>
</section>
<!-- end parallax hero section -->


