<!-- start parallax section -->
<section class="extra-big-section pb-0 parallax wow animate__fadeIn" data-parallax-background-ratio="0.3" style="background-image:url('<%= image_url('beautiful-sunflowers.png') %>');">
    <div class="opacity-light-medium bg-black"></div>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center last-paragraph-no-margin">
                <h1 class="title-extra-large margin-ten-top lg-margin-ten-top sm-margin-five-top alt-font text-white-2 font-weight-400">Our Treatments</h1>
            </div>
        </div>
    </div>
</section>
<!-- end parallax section -->
