<section class="parallax sm-padding-five-tb wow animate__fadeIn"  data-parallax-background-ratio="0.3" style="background-image: url('<%= image_url('colorful-sunny-flower.png') %>');">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 text-center d-flex align-items-center justify-content-center">
              <img src="<%= image_url('logo-icon2.png') %>" class="sm-w-30" />
            </div>
        </div>
    </div>
</section>
