<section class="no-padding-tb wow animate__fadeIn fadeInUp">
    <div class="container-fluid margin-40px-bottom">
      <div class="text-center position-relative w-100">
        <span class="text-outside-line-full">
          <%= image_tag('logo-icon.png', class: "w-40") %>
        </span>
      </div>
    </div>
</section>
