<!-- start tab style 05 section -->
<section class="bg-black big-section wow animate__fadeIn">
    <div class="container-fluid tab-style5">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
                <div class="position-relative overflow-hidden w-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Tab Style 05</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 position-relative padding-seventeen-left padding-fifteen-right lg-padding-fourteen-left lg-padding-four-right sm-padding-15px-lr">
                <div class="tab-box">
                    <!-- start tab navigation -->
                    <ul class="nav nav-tabs d-inherit">
                        <li class="nav-item"><a class="nav-link active" href="#tab-five1" data-bs-toggle="tab">Tailoring interior</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-five2" data-bs-toggle="tab">Skoda corporate</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-five3" data-bs-toggle="tab">Daimler financial</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-five4" data-bs-toggle="tab">Basket shopping</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-five5" data-bs-toggle="tab">Beautiful women</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-five6" data-bs-toggle="tab">Feather pharmacy</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-five7" data-bs-toggle="tab">Sherpa identity</a></li>
                    </ul>
                    <!-- end tab navigation -->
                </div>
                <div class="tab-content">
                    <!-- start tab content -->
                    <div class="tab-pane med-text fade in active show" id="tab-five1">
                        <div class="row">
                            <div class="col-12">
                                <a href="#"><img src="https://placehold.co/1303x620" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="tab-pane fade in" id="tab-five2">
                        <div class="row">
                            <div class="col-12">
                                <a href="#"><img src="https://placehold.co/1303x620" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="tab-pane fade in" id="tab-five3">
                        <div class="row">
                            <div class="col-12">
                                <a href="#"><img src="https://placehold.co/1303x620" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="tab-pane fade in" id="tab-five4">
                        <div class="row">
                            <div class="col-12">
                                <a href="#"><img src="https://placehold.co/1303x620" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="tab-pane fade in" id="tab-five5">
                        <div class="row">
                            <div class="col-12">
                                <a href="#"><img src="https://placehold.co/1303x620" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="tab-pane fade in" id="tab-five6">
                        <div class="row">
                            <div class="col-12">
                                <a href="#"><img src="https://placehold.co/1303x620" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="tab-pane fade in" id="tab-five7">
                        <div class="row">
                            <div class="col-12">
                                <a href="#"><img src="https://placehold.co/1303x620" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                </div>
            </div>       
        </div>                                
    </div>
</section>
<!-- end tab style 05 section -->