<!-- start parallax section -->
<section class="extra-big-section bg-black-green wow animate__fadeIn">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-md-12 text-white-2 text-center last-paragraph-no-margin">
              <p class="text-medium text-uppercase mb-3">OUR FORTE</p>
              <h3 class="font-weight-300 mb-4">
                Precision <span class="text-uppercase font-weight-600">ENGINEERED</span><br>
                <span class="text-uppercase" style="font-weight: 600;">FOR MODERN</span> <span class="text-script font-weight-400 font-serif">Comfort</span>
              </h3>
              <%= link_to "Learn More", about_path, class: "text-white-2 text-uppercase link-underline-style" %>
            </div>
        </div>
    </div>
</section>
<!-- end parallax section -->
