<!-- start video style 02 section -->
<section class="full-big-section parallax wow animate__fadeIn" data-parallax-background-ratio="0.1" style="background-image:url('<%= image_url('mill-bg.png') %>');">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <a href="/Mill-Commercial_H264.mp4" class="popup-youtube">
                <%= image_tag "icon-play2.png", class: "w-50px" %>
              </a>
            </div>
        </div>
    </div>
</section>
<!-- end video style 02 section -->
