<!-- start video style 02 section -->
<section class="full-big-section parallax wow animate__fadeIn" data-parallax-background-ratio="0.1" style="background-image:url('<%= image_url('full-width-home.jpg') %>');">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <a  href="https://player.vimeo.com/video/75976293" class="popup-vimeo">
                <%= image_tag "icon-play2.png", class: "w-50px" %>
              </a>
            </div>
        </div>
    </div>
</section>
<!-- end video style 02 section -->
