<!-- Contact Form Section -->
<section class="contact-form-section bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-7">
        <h2 class="text-md-start text-center mb-0">
          <span class="text-uppercase d-block font-weight-600">TELL US WHAT</span>
          <span class="text-script d-block text-center">you need</span>
        </h2>
      </div>
      <div id="contactForm" class="col-12 col-lg-5">
        <%= render "contacts/form" %>
      </div>
    </div>
  </div>
</section>
