<section class="cover-background wow animate__fadeIn" style="background-image: url('<%= image_url('flower-blossom.png') %>');">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12">
              <div class="row align-items-center justify-content-center">
                <div class="col-12 col-lg-4 text-center">
                  <h2 class="text-white-2 alt-font font-weight-300">Pure Beauty</h2>
                </div>
                <div class="col-12 col-lg-4 text-center">
                  <img src="<%= image_url('logo-icon2.png') %>" />
                </div>
                <div class="col-12 col-lg-4 text-center">
                  <h2 class="text-white-2 alt-font font-weight-300">Simply Authentic</h2>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
