<!-- start parallax section -->
<section class="extra-big-section parallax wow animate__fadeIn" data-parallax-background-ratio="0.3" style="background-image:url('<%= image_url('banners/banner-contact.png') %>');">
    <div class="opacity-light-medium bg-black"></div>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center last-paragraph-no-margin">
              <h3 class="font-weight-300 text-white-2 mb-0">
                <span class="font-weight-600 text-uppercase">EVERY PROJECT</span>
                <span class="text-script font-serif">finds its sense of</span><br>
                <span class="font-weight-600 text-uppercase">SPACE TRANSFORMED</span>
              </h3>
            </div>
        </div>
    </div>
</section>
<!-- end parallax section -->
