/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootsnav.css
 *= require theme-vendors.min.css
 *= require font-icons.min.css
 *= require bootstrap-select.min.css
 *= require style.css
 *= require responsive.css
 *= require_self
*/

@media (max-width: 991px) {
	nav.navbar.bootsnav .navbar-nav {
		background-color: rgba(0, 0, 0, 0.95);
	}
	.center-logo {
		padding: 10px 15px 10px 0;
	}
}

.alert {
	color: #fff;
}
.alert-danger {
	--bs-alert-color: #fff;
	--bs-alert-bg: var(--red-color);
	--bs-alert-border-color: var(--very-light-red-color);
	--bs-alert-link-color: #fff;
}
.alert-success {
	--bs-alert-color: #fff;
	--bs-alert-bg: var(--green-color);
	--bs-alert-border-color: var(--very-light-green-color);
	--bs-alert-link-color: #fff;
}
.btn-close {
	--bs-btn-close-color: #fff;
	opacity: 1;
	background: none;
}
.grecaptcha-badge {
	display: none;
}

.header-buttons .btn.btn-rounded.btn-small {
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 500;
  /* line-height: unset; */
  height: min-content;
  /* min-width: 112px; */
  border-radius: 20px;
}
.dropdown-menu {
  background-color: rgba(255,255,255,.9);
}

input[type="text"].is-invalid,
input[type="tel"].is-invalid,
input[type="email"].is-invalid,
input[type="password"].is-invalid,
textarea.is-invalid {
	border: 1px solid #dc3545 !important;
	margin-bottom: 4px;
}

.is-invalid~.invalid-feedback {
	text-align: start;
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 15px;
}

.modal {
	--bs-modal-width: 600px;
	--bs-modal-margin: 9rem;
}

.modal-content {
	padding: 40px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #00a4ff;
}

input:focus + .slider {
	box-shadow: 0 0 1px #00E6FF;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.free-trial-bg {
  background-image: url('wavy.png');
  background-size: contain !important;
}

.footer-bg {
  background-image: url('bg-footer.png');
}

.layer-bg {
  background-image: url('layer-1.png');
}
